.header {
    position: fixed;
    width: 100%;
    background-color: none;
    top: 0;
    transition: background-color 0.3s; 
    z-index: 100000;
}

.headerdiv {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    height: 67px;
    max-width: 1200px;
}

.companyImage {
    height: 45px;
    width: 45px;
    margin-left: 10px;
    cursor: pointer;
}

.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
    cursor: pointer;
    color: white;
}

.submenu a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: white;
    transition: color 0.1s; 
}

.submenu a:hover {
    color: #dd3333;
}

.headerScrolled {
    background-color: white; 
    border-bottom: 2px solid #dd3333;

}

.headerScrolled .submenu a {
    color: black; 
}
.headerScrolled .submenu a:hover {
    color: #dd3333; 
}